@tailwind base;
@tailwind components;
@tailwind utilities;

.inputStyles {
  @apply bg-transparent appearance-none border border-gray-300 dark:border-gray-800 rounded w-full py-2 px-3 text-gray-700 dark:text-gray-500 outline-none focus:ring-1 ring-blue-500 dark:placeholder:text-gray-700;
}

.labelStyles {
  @apply block text-gray-700 dark:text-gray-400 text-sm md:text-base mb-2;
}

.inputStyle {
  @apply w-full text-sm border dark:border-gray-800 dark:bg-transparent dark:placeholder:text-gray-700 dark:text-gray-400 dark:outline-none;
}

@media print {
  .a4-landscape {
    width: 29.7cm;  /* A4 width */
    height: 21cm;   /* A4 height */
    margin: 0 auto;
    overflow: hidden;
    page-break-after: always;
  }
}
